{% extends 'base.html' %}

{% block title %}Topics{% endblock %}
{% block nav %} 
{{ super() }}
{% endblock %}

{% block main %}
<section >
  <div class="content">
    <div class="content-wrapper">
      <div class="button-link">
        <a href="{{ url_for('posts.new_topic') }}">Add Topic</a>
      </div>
    
          <ul  class="topic-list">
            {% for topic in topics %}
            <li>
              <a href="/topics/show/{{ topic.Topic.id }}">               
                <div class="topic">
                  <div>
                    <span class="topic-title">{{ topic.Topic.title }}</span>
                    <span class="num-of-repl">
                      {% for key, value in reply_per_topic.items() %}
                        {% if key == topic.Topic.id|string %}
                          {% if value == 1 %}
                            [{{value}} reply]
                          {% else %}
                          [{{value}} replies]
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </span>
                  </div>
                  <br>
                  <span>by: {{ topic.User.email }}</span>
                </div>
                </a>
              </li>

            {% endfor %}
          </ul>
    </div>
  </div>
</section>
<script src="../static/scripts/hamburger.js"></script>

{% endblock %}






