{% extends 'base.html' %}
{% block stylesheet  %} <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}"> {% endblock %}
{% block title %}  {% endblock %}

{% block body %}
<section class="wrapper">
  <h2>{{ topic_new.Topic.title }}</h2>
  <p>by: {{ topic_new.User.email }}</p>
  <p>date: {{ topic_new.Topic.date.strftime('%d-%m-%Y %H:%M') }} UTC</p>
  <div class="description">
    <p>{{ topic_new.Topic.description }}</p>
  </div>

  {% if current_user.id == topic_new.Topic.author_id  %}
      <div class="button-link">
        <a href="/topics/edit/{{ topic_new.Topic.id }}">Edit</a>
      </div>
      <button class="button1" onclick="document.getElementById('id01').style.display='block'">Delete</button>
    
      <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content">
          <div class="container">
            <h1>Delete Topic</h1>
            <p>Are you sure you want to delete {{ topic_new.Topic.title }}?</p>
          
            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <button type="button" onclick="document.getElementById('id01').style.display='none',openLink()" class="deletebtn">Delete</button>
            </div>
          </div>
        </form>
      </div>
    
  
  {% endif %}
 
  <div class="replies">
      <form method="post">
          <div>
              
              <!-- <input type="text" name="description" id="description" placeholder="re: {{ topic_new.Topic.title }}"> -->
              <textarea type="text" name="description" id="description" placeholder="re: {{ topic_new.Topic.title }}"></textarea>
            </div>
            <input type="submit" value="send">
      </form>
  </div>
  

  <ul>
      {% for reply in replies %}
        <li>
          <h3>{{ reply.User.email }}--> re:{{ topic_new.Topic.title }}</h3>
          <p>date: {{ reply.Reply.date.strftime('%d-%m-%Y %H:%M') }} UTC</p>
          <p>{{ reply.Reply.reply_content }}</p>
          <div class="button-link">
            {% if current_user.id == reply.Reply.author_id  %}
              <a href="/topics/reply/edit/{{ reply.Reply.id }}">Edit Reply</a>
            {% endif %}
          </div>
          
        </li>
      {% endfor %}
    </ul>
</section>

    
<script>
      var modal = document.getElementById('id01');
    
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    
      function openLink() {
        location.href = "/topics/delete/{{ topic_new.Topic.id }}";
    }
</script>
{% endblock %}