{% extends 'base.html' %}
{% block title %}  {% endblock %}

{% block main %}
<section>
  <div class="content">
    <div class="content-wrapper">

    
      <div class="show-topic">
        <h2>{{ topic_new.Topic.title }}</h2>
        <p class="date" >date: {{ topic_new.Topic.date.strftime('%d-%m-%Y %H:%M') }} UTC</p>
        <br>
        <div class="description">
          <p>{{ topic_new.Topic.description }}</p>
        </div>
        <br>
        <p>by: {{ topic_new.User.email }}</p>
      
      
        {% if current_user.id == topic_new.Topic.author_id  %}
          <br>
          <div class="button-link-edit">
            <a href="/topics/edit/{{ topic_new.Topic.id }}">Edit //</a>
          </div>
        {% endif %}
      </div>



        <form method="post" class="input">
          <div>
            <label for="description" class="input-lable">Reply to: {{ topic_new.Topic.title }}</label>
            <!-- <input type="text" name="description" id="description" placeholder="re: {{ topic_new.Topic.title }}"> -->
            <textarea type="text" name="description" id="description" placeholder="your reply..." required></textarea>
          </div>
          <input type="submit" value="send >>">
        </form>


        <div class="show-replies">
          <ul>
            {% for reply in replies %}
              <div class="reply">
                <li>
                  <h3>re: {{ topic_new.Topic.title }} >> {{ reply.User.email }} </h3>
                  <p class="date">date: {{ reply.Reply.date.strftime('%d-%m-%Y %H:%M') }} UTC</p>
                  <br>
                  <p>{{ reply.Reply.reply_content }}</p>
                  <div class="button-link-edit">
                    {% if current_user.id == reply.Reply.author_id  %}
                    <br>
                    <a href="/topics/reply/edit/{{ reply.Reply.id }}">Edit //</a>
                    {% endif %}
                  </div>

                </li>
              </div>  
            {% endfor %}
          </ul>
        </div>
    </div>  
  </div>
</section>

<script>
  const textarea = document.querySelector("textarea");
  
  function adjustTextareaHeight() {
    textarea.style.height = "63px";
    let scHeight = textarea.scrollHeight;
    textarea.style.height = `${scHeight}px`;
  }
  
  textarea.addEventListener("keyup", adjustTextareaHeight);
  
  adjustTextareaHeight();
</script>  


{% endblock %}