*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background: coral;
    min-height: 100%;
}
nav{
    width: 100%;
    height: 100px;
    
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer{
    background:darkslategrey;
    font-size: 18px;
    height: 40px;
    padding: 35px;
    text-align: center;
}
footer a {
    text-decoration: none;
}


/*Navbar*/
.logo{
    font-size: 2em;
    letter-spacing: 2px;
    color: #fff;

}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
}

.menu a:hover{
    border: 1px solid indigo;
    background: transparent;
}


.register a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    background: indigo;

}

.register a:hover{
    border: 1px solid indigo;
    background: transparent;

}

.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

.h-text span{
    letter-spacing: 5px;
}

.h-text h1 {
    font-size: 3.5em;
}

.h-text a{
    text-decoration: none;
    background: indigo;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 2em;
}

.h-text a:hover{
    border: 2px solid indigo;
    background: transparent;

}

/*Main index*/

.wrapper{
    margin: 50px 100px;
    display: flexbox;
   
}

.topic{
    list-style: none;
}

.topic a{
    text-decoration: none;
}

.topic-list{
    margin-top: 30px;
}

.button-link a{
    text-decoration: none;
}

.input{
    max-width: 600px;
    background: #fff;
    opacity: 90%;
    border-radius: 10px;
    padding: 23px 25px 25px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    
  }

.input h2 {
    color: indigo;
    font-size: 20px;
    text-align: center;
    font-family: initial;
  }

.input textarea{
    width: 100%;
    resize: none;
    height: 100px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: indigo;
    border: 1px solid #bfbfbf;
    font-family: monospace;
    
  }

.input-lable{
    color: indigo;
    font-weight: bold;
    font-size: 16px;
    
}
.input-title{
    width: 100%;
    resize: none;
    height: 30px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: indigo;
    border: 1px solid #bfbfbf;
    font-family: monospace;
}

.input-title:is(:focus, :valid){
    padding: 14px;
    border: 4px solid indigo;
}

.input-title::placeholder{
    color: #b3b3b3;
    font-size: 16px;
}
.input input[type="submit"]{
    background: indigo;
    color: #fff;
    font-family: unset;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
}

.input input[type="submit"]:is(:focus, :valid){
    border: 4px solid indigo;
    padding: 14px;
}

textarea::placeholder{
    color: #b3b3b3;
  }
textarea:is(:focus, :valid){
    padding: 14px;
    border: 4px solid indigo;
  }
textarea::-webkit-scrollbar{
    width: 0px;
  }

::selection{
    color: #fff;
    background: indigo;
  }

  @media (max-width: 480px){

    .wrapper{
        margin: 50px 25px;
    }
    .menu a {
        padding: 5px 5px 5px 5px;
        font-size: 15px;
        
    }
    .register a{
        padding: 5px 5px 5px 5px;
        font-size: 15px;
        border-radius: 5px;
        margin-right: 5px;
    }
    .logo{
        margin-left: 5px;
        letter-spacing: 1px;

    }
    nav{
        height: 70px;
    }
    .h-text h1{
        font-size: 3em;
    }
    .h-text a{
        padding: 5px 10px;
        font-size: 1em;
    }
    .input{
        padding: 30px 20px 30px;
    }
    .input h2 {
        font-size: 18px;
    }
    .input textarea{
        font-size: 14px;
    }
    .input-lable{
        font-size: 14px;
    }
    .input-title::placeholder{
    font-size: 14px;
    }
    .input input[type="submit"]:is(:focus, :valid){
    padding: 10px;
}



  }