*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: rgb(9, 40, 55);
    min-height: 100vh;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 18px;
    background:rgb(6, 29, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: #ffffff69;
}
footer a:hover{
    color: #fff;
}
footer small{
    color: #ffffff69;
}
a, a:visited,  a:active {
    color: inherit;
    text-decoration: none;
  }

/*Navbar*/

.logo{
    font-size: 2em;
    letter-spacing: 2px;
    color: #fff;
}


.register a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    background: indigo;

}

.register a:hover{
    outline: 2px solid indigo;
    background: transparent;

}
nav li{
    list-style: none;
}


.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 18px;
    color: #fff;
}
.navbar a{
    
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.7s ease;
}
.navbar a:hover{
    outline: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}




/* landing page */

.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

.h-text span{
    letter-spacing: 5px;
}

.h-text h1 {
    font-size: 3.5em;
}

.h-text a{
    text-decoration: none;
    background: indigo;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 2em;
}

.h-text a:hover{
    border: 2px solid indigo;
    background: transparent;

}

/*Main index*/
section{
    width: 100%;
}
section div{
    display: flex;
    justify-content: center;
}
.content div{
    display: block;

}

.content {
    flex-direction: column;
    align-items: center;
}
.content h1 {
    font-family:monospace;
    font-size: 28px;
}
.content-wrapper{
    margin-bottom: 80px;
    margin-top: 20px;
    width: 80%;
    background: #fff;
    border-radius: 10px;
}
.reply{
    margin: 10px;
    list-style: none;
    border: 1px solid #bfbfbf;
    padding: 10px;
    border-radius: 5px;
    background: rgba(9, 40, 55, 0.135);
}

.topic{
    list-style: none;
    padding: 10px;
    margin: 10px;
    outline: 1px solid #bfbfbf;
    border-radius: 5px;
    background: rgba(9, 40, 55, 0.135);
}
.topic:hover{
    outline: 3px solid indigo;
}

.topic .topic-title{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
}
.topic .num-of-repl{
    float:right;
    font-size:14px;
    padding-top:6px;
    color: red;
}

.topic-list{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    list-style: none;
    padding: 25px 25px 25px;

}
span {
    font-family: monospace;
}
.button-link a{
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid indigo;
}
.button-link a:hover{
    border: none;
    background-color: #12cc2b;
    color: #fff;
}

.button-link{
    margin: 25px;
}
.button-link-edit a{
    padding: 5px;
    border-radius: 5px;
    background: indigo;
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
}
.button-link-edit a:hover{
    outline: 2px solid indigo;
    background: transparent;
    color: indigo;
}

.input a{
    padding: 5px;
    border-radius: 5px;
    background: red;
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
}
.input a:hover{
    color: red;
    background: #fff;
}


.show-topic{
    padding: 8px 10px 10px;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    margin: 15px;
}
.show-topic p{
    font-family: monospace;
    font-size: 16px;
}
.show-topic h2{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    background: rgba(9, 40, 55, 0.135);
    max-width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    width: max-content;
    border: 4px solid indigo;
}
.show-replies{
    padding: 8px 10px 10px;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    margin: 15px;
}
.reply p{
    font-family: monospace;
    font-size: 16px;
}
.reply h3{
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

.input div {
    display: block;
}
.input{
    background: rgba(9, 40, 55, 0.135);
    border-radius: 10px;
    padding: 10px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: 25px;
  }

.input h2 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: initial;
    font-family: monospace;
  }

.input textarea{
    width: 100%;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: indigo;
    border: 1px solid #bfbfbf;
    font-family: monospace;
    
  }

.input-lable{
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: monospace;
    
}
.input-title{
    width: 100%;
    resize: none;
    height: 30px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: indigo;
    border: 1px solid #bfbfbf;
    font-family: monospace;
}

.input-title:is(:focus, :valid){
    padding: 14px;
    border: 4px solid indigo;
}

.input-title::placeholder{
    color: #b3b3b3;
    font-size: 16px;
}
.input input[type="submit"]{
    background: indigo;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    border: none;
}

.input input[type="submit"]:is(::selection, :hover){
    outline: 2px solid indigo;
    background: transparent;
    color: indigo;
}


textarea::placeholder{
    color: #b3b3b3;
  }
textarea:is(:focus, :valid){
    padding: 14px;
    border: 4px solid indigo;
  }
textarea::-webkit-scrollbar{
    width: 0px;
  }

::selection{
    color: #fff;
    background: indigo;
  }

.date{
    color: red;
}

/* first mobile brakpoint */
@media(max-width:768px){
    /* navbar */
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transform: 0.3s;
        background-color: rgb(6, 29, 40);

    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .navbar.active{
        position: fixed;
        background-color: rgb(6, 29, 40);
        top: 0;
        width: 100%;
    }
    .content-wrapper{
        width: 90%;
        margin-top: 15px;
    }
    footer{
        height: 35px;
        font-size: 16px;
    }
    .navbar{
        min-height: 70px;
        padding: 15px 30px;
        font-size: 16px;
    }
    .reply p{
        font-size: 14px;
    }
    .reply h3{
        font-size: 16px;
    }
    .reply{
        margin: 8px;
    }
    .show-replies{
        padding: 5px;
        margin: 10px;
    }
    .topic-list{
        padding: 15px;
    }
    .show-topic{
        padding: 10px;
        margin: 10px;
    }
    .show-topic p{
        font-size: 14px;
    }
    .show-topic h2{
        font-size: 18px;
        margin-bottom: 8px;
        padding: 5px 10px;
        border: 3px solid indigo;
    }
    .input{
        margin: 12px;
        border-radius: 8px;
    }
    .input-lable{
        font-size: 16px;
    }
    .input-title::placeholder{
        font-size: 14px;   
    }
    .input input[type="submit"]{
        margin-top: 8px;
        margin-left: 4px;
    }
    .input textarea{
        height: 45px;
        padding: 15px;
        font-size: 14px;
        margin-top: 10px;
    }
    .button-link{
        margin: 25px;
    }
    .button-link-edit a{
        padding: 5px;
        font-size: 14px;
    }
    .input a{
        font-size: 14px;
        padding: 5px;
    }
}

@media(max-width:425px){
    .content-wrapper{
        width: 95%;
        border-radius: 6px;
    }
    footer{
        height: 28px;
        font-size: 14px;
    }
    .navbar{
        min-height: 70px;
        padding: 15px 20px 20px;
        font-size: 16px;
    }
    .reply p{
        font-size: 12px;
    }
    .reply h3{
        font-size: 13px;
    }
    .reply{
        margin: 5px;
    }
    .show-replies{
        padding: 5px;
        margin: 8px;
    }
    .topic-list{
        padding: 6px;
    }
    .show-topic{
        padding: 10px;
        margin: 8px;
    }
    .show-topic p{
        font-size: 12px;
    }
    .show-topic h2{
        font-size: 16px;
        margin-bottom: 8px;
        padding: 5px 10px;
        border: 3px solid indigo;
    }
    .input{
        margin: 10px;
    }
    .input-lable{
        font-size: 14px;
    }
    .input-title::placeholder{
        font-size: 12px;   
    }
    .input input[type="submit"]{
        margin-top: 8px;
        margin-left: 4px;
    }
    .input textarea{
        height: 40px;
        padding: 15px;
        font-size: 12px;
        margin-top: 10px;
    }
    .button-link-edit a{
        padding: 5px;
        font-size: 14px;
    }
    .input a{
        font-size: 14px;
        padding: 5px;
    }
    
}

@media(max-width:320px){
    .content-wrapper{
        width: 98%;
    }
    footer{
        height: 20px;
        font-size: 10px;
    }
    .navbar{
        min-height: 70px;
        padding: 15px 15px 15px;
        font-size: 12px;
    }
    .reply p{
        font-size: 9px;
    }
    .reply h3{
        font-size: 11px;
    }
    .reply{
        margin: 6px;
    }
    .show-replies{
        padding: 2px;
        margin: 5px;
    }
    .topic-list{
        padding: 6px;
    }
    .show-topic{
        padding: 10px;
        margin: 5px;
    }
    .show-topic p{
        font-size: 10px;
    }
    .show-topic h2{
        font-size: 12px;
        margin-bottom: 8px;
        padding: 5px 10px;
        border: 3px solid indigo;
    }
    .input{
        margin: 6px;
    }
    .input-lable{
        font-size: 11px;
    }
    .input-title::placeholder{
        font-size: 10px;   
    }
    .input input[type="submit"]{
        margin-top: 5px;
        font-size: 10px;
        padding: 5px;
    }
    .input textarea{
        height: 40px;
        padding: 10px;
        font-size: 10px;
        margin-top: 10px;
    }
    .button-link-edit a{
        padding: 5px;
        font-size: 9px;
    }
    .input a{
        padding: 5px;
        font-size: 9px;
    }
    
}