{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block body %}


    {% if current_user.id == change_reply.author_id  %}
        <form method ="POST">
        

        <div>
          <label for="description">Description:</label>
          <input type="text" name="description" id="description" value="{{ change_reply.reply_content }}">
        </div>
        
        <input type="submit" value="Save">
        <a href="/topics/reply/delete/{{ change_reply.id }}">Delete</a>
    
      </form>

    {% else %}
        <p>you are not authorized to edit this content, because you are not the author</p>
        <a href="/login">log in with the account of the author</a>
    {% endif %}
    

{% endblock %}