{% extends 'base.html' %}

{% block title %}New Topic{% endblock %}

{% block main %}
<section>
  <div class="content">
    <form method ="POST" class="input">
        
        <h2>New Topic:</h2>
      
        <div>
          <label for="title" class="input-lable">Title:</label>
          <input type="text" name="title" id="title" placeholder="title of your topic..." required class="input-title">
        </div>
        <div>
          <label for="description" class="input-lable">Description:</label>
          <!-- <input type="text" name="description" id="description" placeholder="description of topic"> -->
          <textarea type="text" name="description" id="description" spellcheck="false" placeholder="description of topic..." required></textarea>
        </div>
        
        <input type="submit" value="Post Topic" >
    

    
    </form>
  </div>
  
    
 
</section>
<script >
  const textarea = document.querySelector("textarea");
      textarea.addEventListener("keyup", e =>{
        textarea.style.height = "63px";
        let scHeight = e.target.scrollHeight;
        textarea.style.height = `${scHeight}px`;
      });
</script>    

{% endblock %}