{% extends 'base.html' %}

{% block title %}New Topic{% endblock %}

{% block body %}



    <form method ="GET">
        
        <h2>New Topic:</h2>
        <div>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" placeholder="title of your topic">
        </div>
        <div>
          <label for="description">Description:</label>
          <input type="text" name="description" id="description" placeholder="description of topic">
        </div>
        
        <input type="submit" value="Post Topic">
    
      </form>

{% endblock %}