<!DOCTYPE html>
<html lang="en">
  <head>
      {% block head %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      {% block stylesheet  %}{% endblock %}
      <title>{% block title %}{% endblock %}</title>
      {% block internal_style %}{% endblock %}
    {% endblock %}
  </head>
  <body>
    {% block nav %}
      <nav>
        <div class="logo">
          ƒorum
        </div>
        <div class="menu">
          <a href="/topics">Topics</a>
          <a href="/profile">Profile</a>

        </div>
        <div class="register">
          {% if current_user.is_authenticated %}
            <a href="/logout">Logout</a>
          {% endif %}
        </div>
      </nav>
    {% endblock %}

    {% block main %}
    
    {% endblock %}

    {% block footer %} 
      <footer >
        {% if current_user.is_authenticated %}
          <small>
            Logged in as {{ current_user.email }}&nbsp;&nbsp;
            <a href="{{ url_for('users.logout') }}">Logout</a>
          </small>
        {% endif %}
      </footer>
    {% endblock %}
  </body>
</html>