<!DOCTYPE html>
<html lang="en">
  <head>
      {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="/static/assets/favicon.ico" />

        {% block stylesheet  %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block internal_style %}{% endblock %}
      {% endblock %}
  </head>
  <body>
    {% block nav %}
      {% if current_user.is_authenticated %}
        <nav class="navbar">
          <div class="logo">
            ƒorum
          </div>
            <ul class="nav-menu">
              <li class="nav-item">
                <a href="/topics">Topics</a>
              </li>
              <li class="nav-item">
                <a href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <div class="register">
                    <a href="/logout">Logout</a>
                </div>
              </li>
            </ul>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
        </nav>
    {% endif %}

    {% endblock %}

    {% block main %}
    
    {% endblock %}

    {% block footer %} 
      <footer >
        {% if current_user.is_authenticated %}
          <small>
            Logged in as {{ current_user.email }}&nbsp;&nbsp;
            <a href="{{ url_for('users.logout') }}">Logout</a>
          </small>
        {% endif %}
      </footer>
    {% endblock %}
    <script>
      const hamburger = document.querySelector(".hamburger");
      const navMenu = document.querySelector(".nav-menu");

      hamburger.addEventListener("click", () => {
          hamburger.classList.toggle("active");
          navMenu.classList.toggle("active");
      })

      document.querySelectorAll(".nav-link").forEach(n => n. addEventListener("click", () => {
          hamburger.classList.remove("active");
          navMenu.classList.remove("active");
      }))
    </script>
  </body>
</html>