{% extends 'base.html' %}
{% block internal_style %}
    <style>
        footer{
            display: none;
        }
        .register{
            display: none;
        }
    </style>
{% endblock %}
{% block title %}Landing Page{% endblock %}

{% block body %}
    <section class="h-text">
        <span>Welcome </span>
        <br>
        <span>to</span>
        <h1>ƒorum</h1>
        <br>
        <br>
        <a href="{{ url_for('posts.topics') }}">Get started</a>
    
    </section>
    
{% endblock %}